<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="unit_tests/bootstrap.php"
         cacheDirectory=".phpunit.cache"
         executionOrder="defects"
         failOnRisky="false"
         failOnWarning="false"
>
    <php>
        <env name="DB_TYPE" value="mysql"/>
        <env name="DB_HOST" value="127.0.0.1"/>
        <env name="DB_NAME" value="campusops_test"/>
        <env name="DB_USER" value="root"/>
        <env name="DB_PASS" value=""/>
        <env name="DB_PORT" value="3306"/>
    </php>
    <testsuites>
        <testsuite name="unit">
            <directory>unit_tests</directory>
        </testsuite>
        <testsuite name="api">
            <directory>API_tests</directory>
        </testsuite>
        <testsuite name="e2e">
            <directory>e2e_tests</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory suffix=".php">backend/app/</directory>
        </include>
    </source>
</phpunit>