<div class="checklists-view" style="padding: 15px;">
    <div class="layui-card">
        <div class="layui-card-header">
            <span style="font-size: 18px; font-weight: 600;">Checklists</span>
            <button class="layui-btn layui-btn-normal layui-btn-sm" id="btn-add-checklist" style="float: right;">
                <i class="layui-icon layui-icon-add-1"></i> Add Checklist
            </button>
        </div>
        <div class="layui-card-body" id="checklists-container"></div>
    </div>
</div>